<% layout('layouts/boilerplate') %>

    <h1>Register</h1>
    <form action="/register" method="POST" class="needs-validation" novalidate>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button>Register</button>
    </form>